body {
    <!--background-color: #9999E6;-->
	background-color: #000000;
}

#left-side {
    float: left;
    width: 33%;
}

#middle-side {
    float: left;
    width: 34%;
}

#right-side {
    float: left;
    width: 33%;
}

.clicker {
    cursor: pointer;
}

.buy {
    cursor: pointer;
}
