body {
	background-color: #FBFBFB;
}

#left-side {
    float: left;
    width: 33%;
}

#middle-side {
    float: left;
    width: 34%;
}

#right-side {
    float: left;
    width: 33%;
}

button, .clicker {
    cursor: pointer;
}


/*
.buy {
    cursor: pointer;
    -webkit-border-radius: 47;
    -moz-border-radius: 47;
    border-radius: 47px;
    font-family: Courier New;
    color: #000000;
    font-size: 20px;
    background: #0BC2FF;
    padding: 30px 30px 30px 30px;
    text-decoration: none;
}

.buy:hover {
    background-color: #CCCCB3;
}

.buy:disabled {
    background-color: #0099CC;
}
*/


ul {
    list-style-type: none;
}

.text {
    font-style: italic;
    font-size: large;
}
