body {
    background:#707070;
    background:-moz-linear-gradient(top,#707070 0%,#222222 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#707070),color-stop(100%,#222222));
    background:-webkit-linear-gradient(top,#707070 0%,#222222 100%);
    background:-o-linear-gradient(top,#707070 0%,#222222 100%);
    background:-ms-linear-gradient(top,#707070 0%,#222222 100%);
    background:linear-gradient(top,#707070 0%,#222222 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#707070', endColorstr='#222222',GradientType=0);
    color: #f2f2f2;
    font-family: 'Trebuchet MS', Helvetica, sans-serif; 
}

span {
    display:block;
}

.left-side {
    float: left;
    width: 25%;
    text-align: center;
}

.middle-side {
    float: left;
    width: 35%;
    text-align: center;
}

.right-side {
    float: left;
    width: 40%;
    text-align: center;
}

button, .clicker {
    cursor: pointer;
}

.clicker:hover
{
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3), inset 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 28px 6px rgba(255, 174, 0, 0.8);
    -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3), inset 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 28px 6px rgba(255, 174, 0, 0.8);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3), inset 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 28px 6px rgba(255, 174, 0, 0.8);
}

ul {
    list-style-type: none;
}

.float-left {
    float: left;
}

button, .frame {
    border: 1px solid #000000;
    
    background:#707070;
    background:-moz-linear-gradient(top,#707070 0%,#565656 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#707070),color-stop(100%,#565656));
    background:-webkit-linear-gradient(top,#707070 0%,#565656 100%);
    background:-o-linear-gradient(top,#707070 0%,#565656 100%);
    background:-ms-linear-gradient(top,#707070 0%,#565656 100%);
    background:linear-gradient(top,#707070 0%,#565656 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#707070', endColorstr='#565656',GradientType=0);
    
    color:#fff;
    font-family:'Helvetica Neue',sans-serif;
    font-size:12px;
}

.buy {
    padding:10px 15px;
    width: 100%;
    height: 64px;

    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

.frame {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 15px;
    padding-left: 15px;
}

button:hover, .frame:hover {
    background:#8a8a8a;
    background:-moz-linear-gradient(top,#8a8a8a 0%,#565656 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#8a8a8a),color-stop(100%,#565656));
    background:-webkit-linear-gradient(top,#8a8a8a 0%,#565656 100%);
    background:-o-linear-gradient(top,#8a8a8a 0%,#565656 100%);
    background:-ms-linear-gradient(top,#8a8a8a 0%,#565656 100%);
    background:linear-gradient(top,#8a8a8a 0%,#565656 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#8a8a8a', endColorstr='#565656',GradientType=0);
}

.buy:disabled {
    background:#bebebe;
    background:-moz-linear-gradient(top,#2f2f2f 0%,#222222 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#2f2f2f),color-stop(100%,#222222));
    background:-webkit-linear-gradient(top,#2f2f2f 0%,#222222 100%);
    background:-o-linear-gradient(top,#2f2f2f 0%,#222222 100%);
    background:-ms-linear-gradient(top,#2f2f2f 0%,#222222 100%);
    background:linear-gradient(top,#2f2f2f 0%,#222222 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2f2f2f', endColorstr='#222222',GradientType=0);
}

.bigPoints {
    font-size: 30px;
}

.smallPoints {
    font-size: 12px;
}

header, footer {
    text-align: right;
}


/*progressbary*/
.tiny-orange {
    position: relative;
    padding: 3px;

    background-image:-moz-linear-gradient(top,#8c8c8c 0%,#222222 100%);
    background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#8c8c8c),color-stop(100%,#222222));
    background-image:-webkit-linear-gradient(top,#8c8c8c 0%,#222222 100%);
    background-image:-o-linear-gradient(top,#8c8c8c 0%,#222222 100%);
    background-image:-ms-linear-gradient(top,#8c8c8c 0%,#222222 100%);
    background-image:linear-gradient(top,#8c8c8c 0%,#222222 100%);

    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Webkit */
    border-radius: 10px;
}

.tiny-orange div {

    font-family: arial;
    font-size: 3px;
    color: white;
    text-align: right;
    text-shadow: 0px 0px 2px #000;
    text-indent: 9999px;
    overflow: hidden;

    background-image:-moz-linear-gradient(top,#ffa31a 0%,#995c00 100%);
    background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffa31a),color-stop(100%,#995c00));
    background-image:-webkit-linear-gradient(top,#ffa31a 0%,#995c00 100%);
    background-image:-o-linear-gradient(top,#ffa31a 0%,#995c00 100%);
    background-image:-ms-linear-gradient(top,#ffa31a 0%,#995c00 100%);
    background-image:linear-gradient(top,#ffa31a 0%,#995c00 100%);
    
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Webkit */
    border-radius: 10px;
}

/*
    background-image:-moz-linear-gradient(53% 13% -90deg,rgb(58,64,80) 0%,rgb(58,64,80) 47%,rgb(46,50,62) 48%,rgb(46,50,62) 100%);
    background-image:-webkit-gradient(linear,53% 13%,53% 79%,color-stop(0, rgb(58,64,80)),color-stop(0.47, rgb(58,64,80)),color-stop(0.48, rgb(46,50,62)),color-stop(1, rgb(46,50,62)));
    background-image:-webkit-linear-gradient(-90deg,rgb(58,64,80) 0%,rgb(58,64,80) 47%,rgb(46,50,62) 48%,rgb(46,50,62) 100%);
    background-image:linear-gradient(-180deg,rgb(58,64,80) 0%,rgb(58,64,80) 47%,rgb(46,50,62) 48%,rgb(46,50,62) 100%);
*/
